
.co {
  color: rgb(44, 62, 80);
  text-transform: uppercase;
}

.imageContainer {
  position: relative;
  cursor: pointer;
}

.overlayContainer img {
  display: block;
  width: 100%;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
}

.overlay {
  position: absolute;
    top: 0px;
 left: 23px;
    width: 90%;
  height: 100%;
  border-radius: 10px;
  background-color: rgba(26, 188, 156, 0.9); 
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.overlayContainer:hover .overlay {
  opacity: 1;
}

.fullOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(44, 62, 80, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.enlargedImage {
  max-width: 30%;
  border-radius: 10px;
}
